{% extends "base.html" %}
{% load static %}

{% block title %}
  My Blog
{% endblock %}


{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/index.css" %}" />
  <link rel="stylesheet" href="{% static "blog/includes/header.css" %}" />
  <link rel="stylesheet" href="{% static "blog/includes/post.css" %}" />
{% endblock %}


{% block content %}
  {% include "blog/includes/header.html" %}
  
  <section id="welcome">
    <header>
      <img src="{% static "blog/images/ryan.jpeg" %}" alt="Ryan - The Author Of This Blog" />
      <h2>RYAN'S BLOG</h2>
    </header>
    <p>Hey! I'm Ryan, and I like to blog about tech and the world!</p>
  </section>

  <section id="latest-posts">
    <h2>My Latest Thoughts</h2>

    <ul>
      {% for post in posts %}
        {% include "blog/includes/post.html" %}
      {% endfor %}
    </ul>
  </section>

  <section id="about">
    <h2>What I Do</h2>
    <p>
      I love programming, I love to help others, and I love exploring new technologies in general!
    </p>
    <p>
      My goal is to keep growing as a developer, and if I could help you do the same, I'd be very happy!
    </p>
  </section>
{% endblock %}