{% extends "base.html" %}
{% load static %}


{% block title %}
  Post Title
{% endblock %}


{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/post-detail.css" %}" />
  <link rel="stylesheet" href="{% static "blog/includes/header.css" %}" />
{% endblock %}


{% block content %}
  {% include "blog/includes/header.html" %}

  <section id="summary">
    <h2>Post Title</h2>
    <article>
      <img src="{% static "blog/images/mountains.jpg" %}" alt="Post Title" />
      <address>By Ryan</address>
      <div>
        Last updated on <time>July 10th</time>
      </div>
    </article>
  </section>

  <main>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, molestiae in? Consequuntur quae, deleniti, ad iure dolores earum nulla autem maxime doloribus aut vero esse possimus sit corporis beatae laborum.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, molestiae in? Consequuntur quae, deleniti, ad iure dolores earum nulla autem maxime doloribus aut vero esse possimus sit corporis beatae laborum.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, molestiae in? Consequuntur quae, deleniti, ad iure dolores earum nulla autem maxime doloribus aut vero esse possimus sit corporis beatae laborum.
    </p>
  </main>
{% endblock %}